<div>
  <% if @errors %>
    <%= @errors %>
  <% end %>
</div>
<%= form_for @hexagon, url: {action: "create"} do |f| %>
  <%= f.text_field :name, placeholder: "Enter Hexagon Name" %>
  <br>
  <%= f.text_field :sides, values: @hexagon.neighbours, placeholder: "Enter comma separated neighbours. For Ex: 2#a$1,3#b$2 etc" %>
  <br>
  <%= f.submit "Create" %>
<% end %>
